.Reve-de-dragon {
    /* Sheet Tabs */
    /* Items List */
    /* Attributes */
}

.Reve-de-dragon .window-content {
    height: 100%;
    padding: 5px;
    overflow-y: hidden;
}

.Reve-de-dragon .sheet-header {
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.Reve-de-dragon .sheet-header .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
}

.Reve-de-dragon .sheet-header .header-fields {
    flex: 1;
    height: 100px;
}

.Reve-de-dragon .sheet-header h1.charname {
    height: 50px;
    padding: 0;
    margin: 5px 0;
    border-bottom: 0;
}

.Reve-de-dragon .sheet-header h1.charname input {
    width: 100%;
    height: 100%;
    margin: 0;
}

input[type="number"] {
    width: calc(100% - 2px);
    min-width: 20px;
    height: 28px;
    background: rgba(0, 0, 0, 0.05);
    padding: 1px 3px;
    padding-left: 3px;
    margin: 0;
    color: #191813;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
    border: 1px solid #7a7971;
    border-radius: 3px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.Reve-de-dragon .flex {
    display: flex;
}

.Reve-de-dragon .resource {
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
    padding-right: 3px;
    text-align: left;
}

.Reve-de-dragon .resource.tiny {
    width: 12.5%;
}

.Reve-de-dragon .resource.small {
    width: 25%;
}

.Reve-de-dragon .resource.third {
    width: 33%;
}

.Reve-de-dragon .resource.large {
    width: 100%;
}

.Reve-de-dragon .resource input {
    width: 100%;
    height: 28px;
    padding-left: 5px;
}

.Reve-de-dragon .resource.split input {
    width: 45%;
}

.Reve-de-dragon .resource.split span {
    width: 10%;
}

.Reve-de-dragon .resource label {
    width: 100%;
    height: 20px;
    display: inline-block;
}

.Reve-de-dragon .tiredness input[type="checkbox"]{
    width: 14px;
    margin-right: -5px;
}

.Reve-de-dragon .tiredness .penalty {
    width: 10px;
    margin-top: 4px;
    height: 20px;
}

.Reve-de-dragon .tiredness .checkbox {
    width: 30%;
}

.Reve-de-dragon .tabs {
    height: 40px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

.Reve-de-dragon .tabs .item {
    line-height: 40px;
    font-weight: bold;
}

.Reve-de-dragon .tabs .item.active {
    text-decoration: underline;
    text-shadow: none;
}

.Reve-de-dragon .sheet-body {
    overflow: hidden;
}

.Reve-de-dragon .sheet-body .tab {
    height: 100%;
    overflow-y: auto;
}

.Reve-de-dragon .editor,
.Reve-de-dragon .editor-content {
    height: 100%;
}

.Reve-de-dragon .item-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
}

.Reve-de-dragon .item-list .item {
    min-height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;
    align-items: stretch;
}

.Reve-de-dragon .item-list .item img {
    flex: 0 0 24px;
    margin-right: 5px;
}

.Reve-de-dragon .item-list .item-name {
    margin: 0;
}

.Reve-de-dragon .item-list .item-controls {
    flex: 0 0 36px;
}

.Reve-de-dragon .item-list .item-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    flex: 2;
    justify-content: flex-start;
}

.Reve-de-dragon .item-list .item-button {
    line-height: 1;
    font-size: 11px;
    flex: none;
    width: auto;
}

.Reve-de-dragon .attributes-header {
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}

.Reve-de-dragon .attributes-header .attribute-label {
    flex: 1.5;
}

.Reve-de-dragon .attributes-header .attribute-control {
    flex: 0 0 20px;
}

.Reve-de-dragon .attributes-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Reve-de-dragon .attributes-list li > * {
    margin: 0 3px;
    height: 28px;
    line-height: 24px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #AAA;
}

.Reve-de-dragon .attributes-list a.attribute-control {
    flex: 0 0 20px;
    text-align: center;
    line-height: 28px;
    border: none;
}

.Reve-de-dragon .attributes-list .attribute-col label {
    font-size: 10px;
    text-align: center;
    line-height: 1;
}

.Reve-de-dragon .attributes-list .attribute-col input {
    font-size: 11px;
    text-align: center;
    line-height: 1;
    height: 50%;
}

.Reve-de-dragon .skills-header {
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}

.Reve-de-dragon .skills-header .skill-label {
    flex: 1.5;
}

.Reve-de-dragon .skills-header .skill-control {
    flex: 0 0 20px;
}

.Reve-de-dragon .skills-list {
    list-style: none;
    margin: 0;
    padding: 0 2px 0 2px;
}

.Reve-de-dragon .skills-list li > * {
    margin: 0 3px;
    height: 28px;
    line-height: 24px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #AAA;
}

.Reve-de-dragon .skills-list a.skill-control {
    flex: 0 0 20px;
    text-align: center;
    line-height: 28px;
    border: none;
}

.Reve-de-dragon .skills-list .skill-col label {
    font-size: 10px;
    text-align: center;
    line-height: 1;
}

.Reve-de-dragon .skills-list .skill-col input {
    font-size: 11px;
    text-align: center;
    line-height: 1;
    height: 50%;
}

.skill-key {
    flex: 2;
}

.skill-value {
    flex: 1;
    width: 50px;
}

.skill-small-value {
    flex: 0.5;
    width: 50px;
}

.Reve-de-dragon.sheet.actor {
    min-width: 560px;
    min-height: 420px;
}

.Reve-de-dragon.sheet.item {
    min-width: 460px;
    min-height: 400px;
}
